.ttl {
  font-size: 2.2rem;
  font-weight: 700;
}
.video {
  margin-top: 2rem;
}
.videoFrame {
  width: 100%;
  height: 56rem;
}
.like {
  margin-top: 6rem;
}
.likeTtl {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
