.ttl {
  font-size: 2.2rem;
  font-weight: 700;
}
.video {
  margin-top: 2rem;
}
.like,
.comment {
  margin-top: 5rem;
}
.likeTtl,
.commentTtl {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
